* {
  user-select: none;
}

body {
  background: green url(../img/bg-main.jpg) no-repeat fixed center;
  background-size: 100% 100%;
}

.centerrange {
  position: relative;
  width: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  backdrop-filter: blur(5px);
  background: transparent;
}